<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        function deleteById(memberId) {
            console.log(memberId)
            const reqUrl = "/member/"+memberId
            $.ajax({
                type: "delete",
                url: reqUrl,
                success: function () {
                    console.log("ajax 성공")
                    location.href = "/member/"
                },
                error: function () {
                    alert("ajax 실패")
                }

            })
        }

    </script>
</head>
<body>
<h2>findAll.html</h2>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>삭제(delete)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.memberId}">번호</td>
        <td th:text="${member.memberEmail}">이메일</td>
        <td th:text="${member.memberPassword}">비밀번호</td>
        <td th:text="${member.memberName}">이름</td>
        <td><button th:onclick="deleteById([[${member.memberId}]])">삭제</button></td>
    </tr>
    </tbody>
</table>
<div id="detail-view"></div>
</body>
</html>